.red {
  color: red;
}

.green {
  color: green;
}

.currency-selector {
  display: inline-block;
}

.currency-option {
  float: right;
  padding-left: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.currency-option:hover {
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding: 20px;
}
